<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <!-- GOOGLE MAPS API KEY (REQUIRED IN DEBUG) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIZPv14Su-FFICwm_JOMGmiJyQbJaByrg"/>
    </application>

</manifest>
